<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About us</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <style>
   div{
    margin-top: 25px;
    margin-left: 36%;
    /* display: grid;
    justify-content: center; */
    width: 540px;
    height: 700px;
    background-image: linear-gradient(to top, skyblue,pink,blue,pink
    );
    border:  3px solid black;
    border-radius: 8px;
    /* margin: auto ; */
    padding :25px;
    font-family:'Times New Roman', Times, serif;
    /* color; */

    /* box-shadow: */
    ;
   }

  </style>
</head>

<body >
 <div>

   <h1 >
     User Management Software
    </h1>
    <span>
      
      User management software supports the authentication of users and storage of their data based on permissions and
      roles. APIs for user management software facilitate integration and streamline users access to applications. The
      user registration process, user authentication, and password management can all be handled through APIs. IT can also
      use consoles to manage all aspects of users accounts, including:
      <br><br><br>
      <ol type="a" class="text-black fs-3 fw-4">
        <li>
          Setting up user accounts</li>
          <li>
            Managing identities and application access
          </li>
      <li>

        Changing user properties</li>
      <li>

        Resetting passwords</li>
        <li>
          Disabling and decommissioning users
        </li>
        <li>
          
          Implementing multi-factor passwordless authentication</li>
        </ol>
      </span>
    </div>
    </body>
    
    </html>